#angles {
  /* height: 400px;
  width: 800px; */
}

#angles-mid {
  /* height: 200px;
  width: 400px; */
}

#angles-small {
  /* height: 100px;
  width: 200px; */
}

.CTATProblemSolving {
  /* height: 800px; */
  flex-direction: column;
}

.CTAT-gen-component {
	/* assume generated component is always within a div and that it should occupy the entire div */
	/* width: 100%;
	height: auto; */

}

/* #div_protractor {
  width: inherit;
  margin: 25px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.canvas {
  position: absolute;
  height: inherit;
  width: inherit;
  border: 2px solid cornflowerblue;
  z-index: 2;
}

.point {
  position: absolute;
  cursor: grab;
  stroke: green;
  fill: green;
  stroke-width: 2;
}

.ray {
  position: absolute;
  width: inherit;
  height: inherit;
  stroke: green;
  stroke-width: 2;
}

#super {
  height: 363px;
  width: 604px;
}


